// COLORS
$red: #ea5454;
$cyan: #44d3d2;
$orange: #fcae4a;
$blue: #549ef2;
$darkgrey: #4d4f62;
$lightgrey: #fafafa;
$white: #ffffff;

// TYPOGRAPHY
$font-family: "Poppins", sans-serif;
$font-weight-el: 100;
$font-weight-rg: 400;
$font-weight-sb: 600;
$font-size-xs: 0.875rem;
$font-size-s: 1rem;
$font-size-m: 1.25rem;
$font-size-l: 1.5rem;
$font-size-xl: 2.25rem;

// SPACING
$spacing-xs: 0.75rem;
$spacing-s: 1rem;
$spacing-m: 1.25rem;
$spacing-l: 1.5rem;
$spacing-xl: 2rem;

// BORDER RADIUS
$br-1: 10px;
$br-2: 20px;

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
