@use "globals";
@use "reset";

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  height: fit-content;
  background-color: globals.$lightgrey;
  font-family: globals.$font-family;
  color: globals.$darkgrey;
  padding: globals.$spacing-xl;
}

.header {
  letter-spacing: 0.5px;
  text-align: center;

  &__title {
    font-size: globals.$font-size-l;
  }
  &__main-title {
    font-weight: globals.$font-weight-el;
  }

  &__complementary-title {
    font-weight: globals.$font-weight-sb;
    padding-bottom: globals.$spacing-xs;
  }

  &__description {
    font-size: globals.$font-size-xs;
    text-align: center;
    word-wrap: break-word;
    max-width: 55ch;
  }
}

.cards-container {
  margin-top: 4rem;
  display: grid;
  gap: globals.$spacing-m;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 8px solid transparent;
  border-radius: 20px;
  background-color: globals.$white;
  box-shadow: 2px 4px 13px 4px rgba(137, 134, 134, 0.25);
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  padding: globals.$spacing-l;

  &__title {
    font-size: globals.$font-size-m;
    font-weight: globals.$font-weight-sb;
  }

  &__description {
    font-size: globals.$font-size-xs;
  }
}

@mixin card-icon($image) {
  &::after {
    content: "";
    display: block;
    background-image: url($image);
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
    height: 5rem;
    margin-top: globals.$spacing-m;
  }
}

.card--supervisor {
  border-color: globals.$cyan;
  @include card-icon("../images/icon-supervisor.svg");
}

.card--team-builder {
  border-color: globals.$red;
  @include card-icon("../images/icon-team-builder.svg");
}

.card--karma {
  border-color: globals.$orange;
  @include card-icon("../images/icon-karma.svg");
}

.card--calculator {
  border-color: globals.$blue;
  @include card-icon("../images/icon-calculator.svg");
}

.text--opacity {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .cards-container {
    display: grid;
    width: 100%;
    max-width: 1200px;
    grid-template-areas:
      "supervisor team-builder calculator"
      "supervisor karma calculator";
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .card--supervisor {
    grid-area: supervisor;
  }

  .card--team-builder {
    grid-area: team-builder;
  }

  .card--karma {
    grid-area: karma;
  }

  .card--calculator {
    grid-area: calculator;
  }
}
